*:not(.tray) {
    all: unset; // Unsets everything so you can style everything from scratch
}

  // Global Styles
.bar {
    background-color: transparent;
    color: #000000;
    padding: 2px;
    font-size: 13px;
}

// time and caendar
.time, .cpu, .speaker, .tray, .ram {
    padding: 5px;
    background-color: #e400b3;
    border-radius: 99px;
    margin: 0 5px;
}

// workspaces
.workspaces {
    color: white;
}
.focused {
    background-color: #64727d;
    box-shadow: inset 0 -3px #ffffff;
}
.workspaces button:hover {
    background-color: #2b2624;
    box-shadow: inset 0 -3px #ffffff;
}