* {
        border-radius: 3px;
        border: none; 
}

window {
        font-size: 14px;
        font-family: "Roboto Mono Medium";
        background-color: rgba(252, 206, 234, 0.9);
        color: #379bff;
}

#etry {
        padding: 0.25em;
}

#entry:selected {
        background-color: #f884cb;
}

#text:selected {
        color: #0064c7;
}

#input {
        background-color: #f884cb;
        color: #0064c7;
}

image {
        margin-left: 0.25em;
        margin-right: 0.25em;
}